@font-face {
    font-family: "TT Lakes";
    src: url(fonts/TTLakes-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: "TT Lakes";
    src: url(fonts/TTLakes-Medium.ttf);
    font-weight: 500;
}
@font-face {
    font-family: "TT Lakes";
    src: url(fonts/TTLakes-Bold.ttf);
    font-weight: 700;
}
* {
    box-sizing: border-box;
}

body {
    font-family: "TT Lakes", sans-serif;
    margin: 0;
    background-color: #ffffff;
    color: #1b1c21;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 16px 24px;
    background-color: #ffffff;
}

.header__main {
    display: flex;
    align-items: center;
    gap: 16px;
}   

.divider {
    width: 2px;
    height: 32px;
    background-color: #eaeaea;
   
}

.header__menu
.header__repair
.header__search {
    width: 40px;
    height: 40px;
   
}

.header__logo {
    width: 96px;
    height: 50px;
    
}

.header__actions {
    display: flex;
    align-items: center;
    gap: 16px;
    padding-left: 16px;
}
   
.services {
    background-color: #f8f8f8;
    padding: 24px 16px;
}
    
.services__header {
    display: flex;
    align-items: center;
    gap: 16px;
    
}  

.services__line {
    width: 4px;
    height: 40px;
    background-color: #41f6d7;
}

.services__tabs {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    gap: 16px;
    margin-top: 24px;
}

.services__tab {
    flex:0 0 auto;
    font-weight: 500;
    padding: 8px 16px;
    background-color: #ffffff;
    color: #7e7e82;
    border-radius: 6px;
    border: 2px solid transparent;
}
.services__tab:hover {
    border-color: #41f6d7;
   
}

  

